
#sec1 video
{
    margin-top: 100px;
    width: 80%;
    border: 1px solid white;
    margin-left: 150px;
    border-radius: 50px;
    box-shadow: inset 5px 3px 4px rgba(0, 0, 0, 0.4);
}
#sec1 h3
{
    font-size: 80px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
#sec1 p
{
    font-size: 20px;
    width: 83%;
    margin-left: 100px;
    color: white;
    text-align: center;
}
#sec1 button
{
    font-size: 20px;
    width: 50%;
    color: white;
    border-radius: 50px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: green;
    text-align: center;
    margin-left: 350px;
    margin-top: 30px;
    margin-bottom: 50px;
}
#sec1 h3:hover
{
    color: lightskyblue;
    transition: .3s;
    cursor: default;
}
#inaside 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
#sec2
{
  flex: 0 0 33.333333%;
  text-align: center;
  margin-top: 100px;
}
#sec2 img
{
    width: 300px;
    height: 250px;
    border-radius: 10%;
}
#sec2 img:hover
{
    width: 300px;
    height: 250px;
    border-radius: 0%;
    transition: .5s;
}
#sec2 h3
{
    color: white;
    text-align: center;
    cursor: grab;
}
#sec2 button
{
    width: 200px;
    height: 35px;
    border-radius:10px;
    text-align: center;
    cursor: pointer;
}
#sec2 button:hover
{
    width: 200px;
    height: 35px;
    border-radius:0px;
    background-color: green;
    color: white;
    text-transform: uppercase;
    transition: 1s;
}
/* -------------footer------------- */
footer 
{
    color:#FFFBF5;
    background-color:transparent;
}
  .container
{
    display: grid;
    grid-template-columns: 10% 10% 40%;
    justify-content: space-evenly;
    margin-top: 40px;
}
  
  .row h3 
{
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
  
  .row ul 
{
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
  
  .row ul a 
{
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}
  
  .row ul a:hover 
{
    opacity:0.8;
}
  .item.text 
{
    margin-bottom:36px;
    margin-top: -23px;
}
  
  .item.text p
{
    opacity:0.6;
    margin-bottom:0;
}
  
  .item.social 
{
    text-align:center;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-left: -40px;
    margin-bottom: 25px;
}
  
  .item.social > a 
{
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}
  
  .item.social > a:hover 
{
    opacity:0.9;
}
  .copyright 
{
    text-align:center;
    padding-top:5px;
    opacity:0.3;
    margin-right: 375px;
    font-size:13px;
    margin-bottom:0;
    width: 130px;
}
.yousef{
  display: flex;
  gap: 100px;
  margin-bottom: 30px;
  margin-top: -65px;
  margin-left: 100px;
}
  .footer-img
{
    height: 80px;
    width: 120px;
    margin-left: 0px;
    margin-top: -20px;
}
  .yousef{
    display: flex;
    gap: 100px;
    margin-bottom: 30px;
    margin-top: -65px;
    margin-left: 100px;
  }
  /* -------------------------Home-About----------------------------- */
  
  .newstext
{
    color: snow;
    text-align: center;
    font-size: 50px; 
    margin: 1% 0;
}
  #newsbody
{
  background-color: #03001C;
  color: snow;
}
 .newsbar
{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  color: grey;
  cursor: pointer;
}
 .newsbar.newsbar:active
{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  color: black;
  cursor: grab;
}
 .leftnews img 
{
  border: 1px solid white;
  box-shadow: 1px 1px black, -1em 0 .4em black;
  width: 100%;
  height: 100%;
}
.leftnews .middle
{
  width: 100%;
  height: 100%;
}
 #newsaside
{
  display: grid;
  grid-template-columns: 45% 25% 25%;
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 1%;
  gap: 20px;
}
 .leftnews .heads1
{
  font-size: 30px; 
}
 .leftnews .heads2
{
  font-size: 20px;
}
.leftnews .heads3
{
  font-size: 35px;
  margin-top: -1px;
}
 .leftnews .roundimg
{
  border-radius: 50%;
  width: 90px;
  height: 80px;
  margin-top: 20px;
}
 .leftnews button
{
  margin-left: 25%;
  margin-top: 20px;
} 
/* checkMeOut */
#check{
  display: none;
}
.morediv{
  display: none;
}
.label2{
  display: inline-block;
  border-radius: 50px;
  margin-left: 20%;
  margin-top: 20%;
  padding-top: 5%;
  padding-left: 20%;
  margin-bottom: 1rem;
  color: white;
  cursor: pointer;
  font-size: 140%;
  border: 2px solid green;
  width: 150px;
  height: 2.5rem;
  background-color: transparent;
}
#check:checked ~ * .morediv{
  display: block;
}
/*  */
 #rightside
{
  display: flex;
  gap: 30px;
}
ïnput, label
{
  display: none;
}
#menu__toggle
{
  display: none;
}
/* -------------footer------------- */
footer 
{
    border-top: 1px solid grey;
    color: white;
    background-color: black;
    margin-top: 5%;
    margin-bottom: 0%;
    padding-bottom: 1%;
}
  .container
{
    display: grid;
    grid-template-columns: 10% 10% 40%;
    justify-content: space-evenly;
    margin-top: 40px;
}
  
  .row h3 
{
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
  
  .row ul 
{
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
  
  .row ul a 
{
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}
  
  .row ul a:hover 
{
    opacity:0.8;
}
  .item.text 
{
    margin-bottom:36px;
    margin-top: -23px;
}
  
  .item.text p
{
    opacity:0.6;
    margin-bottom:0;
}
  
  .item.social 
{
    text-align:center;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-left: -40px;
    margin-bottom: 25px;
}
  
  .item.social > a 
{
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}
  
  .item.social > a:hover 
{
    opacity:0.9;
}
  .copyright 
{
    text-align:center;
    padding-top:5px;
    opacity:0.3;
    margin-right: 375px;
    font-size:13px;
    margin-bottom:0;
    width: 130px;
}
.yousef{
  display: flex;
  gap: 100px;
  margin-bottom: 30px;
  margin-top: -65px;
  margin-left: 100px;
}
  .footer-img
{
    height: 80px;
    width: 120px;
    margin-left: 0px;
    margin-top: -20px;
}
  .yousef{
    display: flex;
    gap: 100px;
    margin-bottom: 30px;
    margin-top: -65px;
    margin-left: 100px;
  }
